@import url('https://fonts.googleapis.com/css?family=Lexend+Deca');

/* Add a black background color to the top navigation bar */
.topnav {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  align-items: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  font-size: 24px;
  font-family: 'Lexend Deca';
  color: white;
  text-decoration: none;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  padding: 13px;
  border: none;
  font-size: 17px;
  font-family: 'Lexend Deca';
  border-radius: 23px;
  margin-left: 20px;
  overflow: hidden;
  flex-grow: 1;
}

/* TODO: make sure it looks great on mobile devices as well */
